.description{
  padding-bottom: 163px;

  @media (max-width: $tablet-width) {
    .container {
      padding: 0;
    }
  }
}

.description__wrapper {
  display: flex;
  justify-content: flex-start;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.description__column-text {
  width: 39%;
  max-width: 100%;
  margin-right: 3%;

  @media (max-width: $tablet-width) {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 0;
    margin-bottom: 63px;
  }
}

.description__list {
  list-style: none;
}

.description__item {
  position: relative;

  padding-left: 60px;
  margin-bottom: 38px;

  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  color: $whiteColor;


  &::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background-image: url(../img/svg/svg.svg);
    background-repeat: no-repeat;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 32px;

    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}


.description__column-data {
  width: 58%;
  max-width: 100%;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}
