.form-info__select {
  position: relative;
  font-family: "Graphik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  color: #4d4d4d;

}

.form-select--arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 28px;
  width: 24px;
  height: 24px;
  background-image: url("../img/svg/select/down-arrow.svg");
  background-repeat: no-repeat;
}

select::-ms-expand {
    display: none;
}


select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
