.select__list {
  list-style: none;
}

.select__item {
  position: relative;
  margin-bottom: 24px;
}


.select {
  position: relative;
  font-family: "Graphik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  outline: none;
  color: $greyColor;
}

.select--arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 28px;
  width: 24px;
  height: 24px;
  background-image: url("../img/svg/select/down-arrow.svg");
  background-repeat: no-repeat;
}

.select::-ms-expand {
    display: none;
}


.select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
