.page-header {
  margin-bottom: 42px;
}

.page-header__logo {
  display: inline-block;
  padding-top: 64px;

  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: $whiteColor;

  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $modile-width) {
    width: 150px;
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

.page-header::before {
  content: " ";
  position: absolute;
  background-image:
  linear-gradient(0deg, rgba(37, 45, 56, 0.62), rgba(37, 45, 56, 0.62)),
  url("../img/body/bodyback.png");

  

  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
}
