.contact {
  border: none;
  margin: 0;
  padding: 0;
}

.contact__title {
  margin-bottom: 32px;
  font-family: "Graphik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 0.5rem;
  display: flex;
  align-items: center;
  color: $black;
}

.contact__list {
  list-style: none;
}

.contact__item {
  margin-bottom: 24px;
}
