*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.html {
  font-size: 100%;
}

.page-body {
  position: relative;
  font-family: "Manrope", "Arial", sans-serif;
  line-height: 26px;
  background-color: $dark;
}
