.input--select::-webkit-input-placeholder {
  font-family: "Graphik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 0.8rem;
  color: $greyColor;
}
.input--select::-moz-placeholder {
  font-family: "Graphik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 0.8rem;
  color: $greyColor;
}
.input--select:-ms-input-placeholder {
  font-family: "Graphik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 0.8rem;
  color: $greyColor;
}
.input--select::-ms-input-placeholder {
  font-family: "Graphik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 0.8rem;
  display: flex;
  align-items: center;
  color: $greyColor;
}
.input--select::placeholder {
  font-family: "Graphik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 0.8rem;
  color: $greyColor;
}


.input-list {
  list-style: none;
}

.input-list__item {
  position: relative;
  margin-bottom: 24px;
}


.input--select {
  width: 100%;
  padding: 19px 16px 16px 15px;
  background: #F2F4F7;
  border-radius: 4px;
  border: none;
}
