.form__list {
  list-style: none;
}

.form__column-list {
  width: 39%;
  max-width: 100%;
  margin-right: 3%;

  @media (max-width: 768px) {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 0;
    margin-bottom: 63px;
  }
}

.form__item {
  position: relative;

  padding-left: 60px;
  margin-bottom: 38px;

  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
  color: #FFFFFF;


  &::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background-image: url(../img/svg/svg.svg);
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 22px;
  }
}
