.list {
  list-style: none;

  &__item {
    position: relative;
    padding-left: 5.6rem;
    margin-bottom: 3.2rem;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 2.2rem;
    color: $white;

    &::before {
      content: " ";
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
      background-image: url(../svg/list/list-icon.svg);
      background-repeat: no-repeat;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 3.8rem;

      font-size: 1.9em;
      line-height: 2.6rem;
    }
  }
}
