.promo {
  margin-bottom: 72px;

  @media (max-width: $tablet-width) {
    margin-bottom: 63px;
  }
}

.promo-title {
  min-width: 85%;
  margin: 0;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 2.76rem;
  color: $whiteColor;

  @media (max-width: $tablet-width) {
    font-size: 2.2rem;
    line-height: 1.7rem;
  }

  @media (max-width: $modile-width) {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.4rem;
  }

}
