.promo {
  margin-bottom: 63px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  &-title {
    min-width: 85%;
    margin: 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $white;

    @media (min-width: $mobile-width) {
      font-weight: 600;
      font-size: 2.2rem;
      line-height: 2.7rem ;
    }

    @media (min-width: $tablet-width) {
      font-size: 3.6rem;
      line-height: 4rem;
    }
  }
}
