.promo {
  margin-bottom: 3.9375rem;

  @media (min-width: $tablet-width) {
    margin-bottom: 4.5rem;
  }

  &__title {
    min-width: 96%;
    margin: 0;
    font-weight: 600;
    font-size: 3em;
    line-height: 2.375rem;
    color: $white;

    @media (min-width: $tablet-width) {
      font-size: 5em;
      line-height: 3.5rem;
    }

    @media (min-width: $desktop-width) {
      font-size: 7em;
      line-height: 4.5rem;
    }
  }
}
