.select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;

  &-list {
    list-style: none;

    &__item {
      position: relative;
      margin-bottom: 24px;

      &--arrow::after {
        content: "";
        position: absolute;
        right: 0;
        top: 28px;
        width: 24px;
        height: 24px;
        background-image: url("../svg/select/down-arrow.svg");
        background-repeat: no-repeat;
      }
    }
  }
}

.select::-ms-expand {
    display: none;
}
