.checkbox {
  position: relative;
  padding-left: 2.25rem;
  margin-bottom: 2.125rem;

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    & + label {
      font-size: 1.4em;
      line-height: 1.25rem;
      color: $silver;

      &:before {
        content: " ";
        position: absolute;
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        left: 0;
        background-image: url("../svg/checkbox/checkbox.svg");
        cursor: pointer;
      }
    }

    &::-ms-check {
      display: none;
    }

    &:checked + label::before {
      left: 0;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("../svg/checkbox/checked.svg");
    }
  }
}
