.form {
  width: 100%;
  padding: 1.5rem;
  background-color: $white;
  border-radius: 1rem;

  &__fieldset {
    padding: 0;

    border: none;
  }

  &__title {
    padding-top: 4rem;
    margin-bottom: 2rem;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4em;
    line-height: 0.875rem;
    display: flex;
    align-items: center;
    color: $black;
  }

  @media (min-width: $tablet-width) {
    padding: 2rem;
  }
}
