.form {
  padding-bottom: 163px;

  @media (max-width: 768px) {
    .container {
      padding: 0;
    }
  }
}

.form__wrapper {
  display: flex;
  justify-content: flex-start;

  @media (max-width: 768px) {
    display: block;
  }
}
