.logo__link {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: $white;

  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $mobile-width) {
    font-size: 0.8rem;
  }
}

.logo--padding {
  padding-top: 36px;

  @media (min-width: $mobile-width) {
    padding-top: 64px;
    width: auto;
  }
}
