.header {
  position: relative;
  margin-bottom: 42px;
}

.header::before {
  content: "" ;
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-image: url("../img/body/bodymobile.png");
  background-size: contain;


  background-repeat: no-repeat;
  background-position: 100% 0;



}

@media (min-width: $mobile-width) {
  .header::before {
    background-image:
    linear-gradient(0deg, rgba(37, 45, 56, 0.62), rgba(37, 45, 56, 0.62)),
    url("../img/body/bodyback.png");
    background-size: cover;
  }
}
