.header {
  position: relative;
  margin-bottom: 2.625rem;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 392px;
    width: 100%;
    background-image: linear-gradient(
        to top,
        #252d38 3.12%,
        rgba(37, 45, 56, 0) 100%
      ),
      url("../img/body/mfc/bodymobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;

    @media (min-width: $tablet-width) {
      height: 990px;
      background-image: linear-gradient(
          to top,
          #252d38 3.12%,
          rgba(37, 45, 56, 0) 100%
        ),
        linear-gradient(0deg, rgba(37, 45, 56, 0.62), rgba(37, 45, 56, 0.62)),
        url("../img/body/mfc/bodyback.png");
    }
  }
}
